.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

.cards-container {
  padding: 50px;
  width: 100vw;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 50px;
}

.card {
  width: 40%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 6px 6px 6px 1px #6f6f6f;
  cursor: pointer;
  margin: 3%;
  margin-top: 5%;
}

.card>p {
  margin-top: 3%;
  font-size: 20px
}

.card>p>u {
  font-size: 0.8em;
}

.form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
}

.footer {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  background-color: #F8F9FA;
  margin-top: 85px;
  padding: 5px 10px;
}

.icon {
  width: 50%;
  height: 50%;
}

.low-urgency {
  background-color: rgb(182, 230, 173) !important;
  border: 3px solid rgb(156, 198, 148) !important;
}

.low-urgency:active {
  background-color: rgb(156, 198, 148) !important;
  box-shadow: 3px 3px 3px 1px #6f6f6f;
}

.high-urgency {
  background-color: rgb(255, 131, 131) !important;
  border: 3px solid rgb(214, 106, 106) !important
}

.high-urgency:active {
  background-color: rgb(214, 106, 106) !important;
  box-shadow: 3px 3px 3px 1px #6f6f6f;

}

.btn-primary {
  margin-top: 20px;
}

.navbar {
  padding: 10px
}

.selected {
  border: 3px solid #8FCFFE;
  padding: 20px;
}

#iconList {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 0.25rem;
  overflow: scroll;
  padding: 10px
}

#iconList>img {
  width: 100px;
  margin: 10px;
  padding: 5px;
}

#footerLinks {
  display: flex;
  width: 10%;
  justify-content: space-between;
  margin-left: 2.5%
}